* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* shared style starts */
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.container {
  width: 85%;
  max-width: 1360px;
  margin: 0 auto;
}

.btn {
  background-color: #30b868;
  border: none;
  padding: 12px 16px;
  border-radius: 5px;
  font-size: 16px;
  /* font-weight: 600; */
  color: white;
  cursor: pointer;
}
.section-heading {
  font-size: 48px;
  font-weight: bold;
  /* text-align: center; */
  margin: 16px 0;
}
.section-text {
  text-align: center;
  margin-bottom: 44px;
}
/* shared style ends */

/* main style starts */
nav {
  width: 85%;
  max-width: 1360px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}
nav .menu {
  display: flex;
  list-style-type: none;
  gap: 32px;
  align-items: center;
}
nav .menu a {
  font-size: 16px;
  text-decoration: none;
}

#banner {
  background: url("../assets/hero-bg.png");
  background-repeat: no-repeat;
  vertical-align: middle;
}
.banner-content {
  width: 85%;
  max-width: 1360px;
  margin: 0 auto;
  padding: 155px 0 180px 0;
}
.early-access-btn {
  text-align: center;
  margin-bottom: 16px;
}
.early-access-btn button {
  padding: 8px 16px;
  color: #30b868;
  border-radius: 1000px;
}
.banner-content h1 {
  width: 770px;
  font-style: Bold;
  font-size: 72px;
  font-weight: 700;
  line-height: 84px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
  margin: 0 auto;
}

.banner-content p {
  margin: 32px auto;
  text-align: center;
  width: 46%;
}
.banner-content .banner-button {
  width: 465px;
  margin: auto;
}
.banner-button .works-btn {
  margin-left: 16px;
  padding: 12px 16px;
  border-radius: 5px;
  font-size: 16px;

  color: white;
  cursor: pointer;
  background: none;
  border: 1px solid white;
}

/* Notes section starts */

.notes-info {
  display: flex;
  gap: 24px;
}
.notes-info .notes-card {
  border-radius: 8px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.18);
  background: rgba(255, 255, 255, 1);
  text-align: center;
  padding: 70px 24px;
}
.notes-card img {
  background-color: #f95555;
  padding: 13px;
  border-radius: 50px;
}
.card-title {
  margin: 16px 0;
}
/* Notes section ends */
/* second brain section starts */
.second-brain-container {
  display: flex;
  margin-top: 120px;
  gap: 60px;
  align-items: center;
}
.section-heading-top{
    color: #30b868;
    font-weight: 500;
}
.second-brain-container img {
  max-width: 600px;
}
.second-brain-content {
  max-width: 700px;
  text-align: left;
}
.second-brain-text {
  line-height: 20px;
  font-size: 16px;
  width: 70%;
  margin-bottom: 40px;
}
.second-brain-content ul {
  list-style-type: none;
}
.second-brain-content ul li {
  margin-bottom: 16px;
}
.second-brain-content ul li img {
  vertical-align: middle;
}

/* second brain section ends */
