* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* shared style starts */
.btn {
  background-color: #30B868;
  border: none;
  padding: 12px 16px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  cursor: pointer;
}
/* shared style ends */


nav {
  width: 85%;
  max-width: 1360px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
 nav .menu {
  display: flex;
  list-style-type: none;
  gap: 32px;
  align-items: center;
}
nav .menu a {
  font-size: 16px;
  text-decoration: none;
} 
